<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-950 text-white">
    <h1 class="text-xl text-center mb-3">Create a new post</h1>
    <form class=" px-6" action="/create" method="post">
        <div class="flex gap-10 mb-3">
            <div>
                <h1 class="text-sm text-slate-400 font-bold">Title: </h1>
                <input class="mt-2 px-2 py-1 w-64 bg-zinc-800 font-bold rounded-md" type="text" placeholder="name"
                    name="title">
            </div>
            <div>
                <h1 class="text-sm text-slate-400 font-bold">Description:</h1>
                <textarea class="mt-2 px-2 py-1 w-64 h-36 bg-zinc-800 font-bold rounded-md" name="description"
                    placeholder="post description"></textarea>
            </div>
            <div>
                <h1 class="text-sm text-slate-400 font-bold">Image URL: </h1>
                <input class="mt-2 px-2 py-1 w-64 bg-zinc-800 font-bold rounded-md" type="text" name="imageURL"
                    placeholder="Enter valid url">
            </div>
        </div>

            <button class="px-3 py-2 bg-red-500 rounded-lg" type="submit">Create Post</button>
    </form>
    </div>

    <h1 class="text-slate-400 font bold mx-10 font-xl mt-10 mb-5 text-xl">Created posts</h1>
    <div class="mx-10 flex flex-wrap gap-3">
        <% data.forEach((post)=>{ %>
            <div class="w-72 bg-slate-800 px-3 py-3 rounded-lg ">
                <img class="max-w-64 max-h-64" src="<%=post.imageurl%>"
                    alt="image">
                <h1 class="text-xl mb-1 mt-2 font-bold text-slate-200"><%=post.title%></h1>
                <p class="text-sm text-slate-300 text-justify"><%=post.description%></p>
                <div class="flex gap-3 items-center justify-end mt-5">
                    <button class="px-3 py-2 bg-green-800 rounded-lg"><a href="/update/<%=post._id%>">Edit</a></button>
                    <button class="px-3 py-2 bg-red-800 rounded-lg"><a href="/delete/<%=post._id%>">Delete</a></button>
                </div>
            </div>
        <%})%>
    </div>
</body>

</html>